{% extends "base.html" %}
{% block content %}
<section id="content">

<!-- Hero unit -->
<div class="hero">
	<div class="hero__overlay radial-gradient"></div>
	<div class="hero__mask"></div>
	<div class="hero__inner">
		<div class="container">
			<div class="hero__content">
				<div class="hero__content__inner" id='navConverter'>
					<img src="{{ SITEURL }}/theme/images/wikimedians_of_kerala_user_group.png">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hero__sub">
	<span id="scrollToNext" class="scroll">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
	</span>
</div>

<!-- Steps -->
<div class="landing__section">
	<div class="container">
		<h2 class="center">Wikimedians of Kerala</h2>
		<p class="justify">Wikimedians of Kerala is a group of Wikimedians which work on various wikimedia projects related to Malayalam and other languages. The group is also working with other organizations to promote Malayalam langauge. Anyone can become a member of this group.</p>
	</div>
</div>

<!-- Expanded sections -->
<div class="expanded landing__section">
	<div class="container">
		<div class="expanded__inner">
			<div class="expanded__media">
				<img src="{{ SITEURL }}/theme/images/objectives.png" class="expanded__image">
			</div>
			<div class="expanded__content">
				<h2 class="expanded__title">Objectives</h2>
				<ul>
					<li>Spreading the ideas of Wikimedia Movement.</li>
					<li>Introducing Wikipedia to Keralites and overseas Keralites.</li>
					<li>Encouraging people to become contributors.</li>
					<li>Maintaining the community and obtaining more community members.</li>
					<li>Helping on cooperation with other communities or institutions.</li>
					<li>Helping the growth and development of other Malayalam-based Wikimedia projects.</li>
					<li>Improve content about Kerala state and related topics in English and all other languages.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="expanded landing__section">
	<div class="container">
		<div class="expanded__inner">
			<div class="expanded__media">
				<img src="{{ SITEURL }}/theme/images/plans.png" class="expanded__image">
			</div>
			<div class="expanded__content">
				<h2 class="expanded__title">Plans</h2>
				<ul>
					<li>Conducting Workshops and Meetups.</li>
					<li>Promotion of Wikimedia projects and Free content in general. To encourage the use of Wikimedia resources in education.</li>
					<li>Organize Events to collect Creative Commons Contents and Upload it at Commons Wikimedia.</li>
					<li>Develop new local wikis (Wikipedia, Wiktionary, Wikibooks etc).</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="cta cta--reverse">
	<div class="container">
		<div class="cta__inner">
			<h2 class="cta__title">Know More</h2>
			<p class="cta__sub cta__sub--center">Wikimedians of Kerala User Group</p>
			<a target="_blank" href="https://meta.wikimedia.org/wiki/Wikimedians_of_Kerala" class="button button__accent">Official Page</a>
		</div>
	</div>
</div>

</section><!-- /#content -->
{% endblock content %}
