{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block content %}
<!-- Hero unit -->
<div class="hero">
	<div class="hero__overlay radial-gradient"></div>
	<div class="hero__mask"></div>
	<div class="hero__inner">
		<div class="container">
			<div class="hero__content">
				<div class="hero__content__inner" id='navConverter'>
          {% block featured_img %}{% if page.featured_img %}<img src="{{ page.featured_img }}" class="featured">{% else %}<img src="{{ SITEURL }}/theme/images/wikimedians_of_kerala_user_group.png">{% endif %}{% endblock featured_img %}
          {% block main_heading %}<h1 class="page_head">{% if page.main_heading %}{{ page.main_heading }}{% else %}{{ page.title }}</h1>{% endif %}{% endblock main_heading %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hero__sub">
	<span id="scrollToNext" class="scroll">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
	</span>
</div>
<div class="marbot">
  <!-- Breadcrump
       <ul class="breadcrumb">
       <li>
       <a href="{{ SITEURL }}/" title="{{ SITENAME }}">
       <i class="fa fa-home fa-lg"></i>
       </a>
       </li>
       {% for parent in page.parents %}
       <li>
       <a href="{{ SITEURL }}/{{ parent.url }}">{{ parent.title }}</a>
       </li>
       {% endfor %}
       <li class="active">{{ page.title }}</li>
       </ul>
  -->

  <div{% block container %}{% if page.container %} class="container"{% endif %} {% endblock container %}>
    {{ page.content }}
  </div>

  {% block gallery %}
  {% if page.gallery_items %}
    <div class="container">
    <h2>Gallery</h2>
    {% set links = page.gallery_links.split("|") %}
      {% for link in links %}
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:{{ link }}">
              <img src="{{ SITEURL }}/theme/images/gallery/{{ page.gallery}}/{{ loop.index }}.jpg" alt="{{ page.title }}" width="600" height="400">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  {% endblock gallery %}

    {% if page.modified %}
      <p>Last updated: {{ page.locale_modified }}</p>
    {% endif %}
  </div>
{% endblock %}
